# Binaries
**/bin/
bin-int/

# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.csproj
*.csproj.user

# Aux
[dD]esktop.ini
.DS_Store

# Keep
!Saturn/vendor/assimp/bin/
!Saturn/vendor/steamworks/Bin/
!Saturn/vendor/assimp/bin/
!Saturn/vendor/shaderc/bin/
!Saturn/vendor/vulkan/bin/

# Makefiles
Saturn/vendor/**/Makefile
Saturn/Makefile
Makefile
*.mk

# Codelite files / other linux dev envs
premake5
*.project
**/.codelite/
*.workspace
**/.build-*/**.**
**/.build-debug/**.**
**/.build-release/**.**
**/.build-rdist/**.**
**/.build-dist/**.**
.build-*/**.**
.build-debug/
.build-release/
.build-rdist/
.build-dist/
**/obj
**/build
.kdev4
*.kdev4
.kdev4/
